.AboutMeDiv {
    display: flex;
    flex-direction: row;
    background-color: azure;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 2.5%;
    width: 90%;
    align-self: center;
    border-radius: 30px;
}
.AboutMeDiv_mobile {
    display: flex;
    flex-direction: column;
    background-color: azure;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 2.5%;
    width: 90%;
    align-self: center;
    border-radius: 30px;
}
.Description {
    flex: 1;
    color: black;

}
.DescriptionText{
    color: black;
    font-family: "Century Gothic", sans-serif;
    font-size: 16px;
    text-align: left;
    flex: 1;
}
.Picture {
    flex: 1;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
.aboutMeHeader {
    margin-left: 2.5%;
    margin-top: 0px;
    color: black;
}
.myFace {
    margin-top: 100px;
    border-radius: 100px;
    vertical-align: middle;
}
.myFace_mobile {
    margin-top: 20px;
    border-radius: 100px;
    vertical-align: middle;
}
