.NavBar {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 60px;
    vertical-align: middle;
    direction: ltr;
    display: flex;
    flex-direction: row;
}
.contactContainer {
    width: 28%;
    vertical-align: middle;
    margin-left: 2.5%;
    height: 100%;
    direction: ltr;
    flex:1;
}
.logo {
    height: 50%;
    vertical-align: middle;
    padding-top: 2vh;
    padding-right: 5%;
    width:auto;

}
.nameBar {
    text-align: center;
    color: aquamarine;
    background-color: black;
    flex:1;
    opacity: 1;
}
.nameBarHidden {
    flex:1;
    opacity: 0;
}
.jumpContainer {
    flex:1;
    display: flex;
    vertical-align: middle;
    direction: rtl;
    flex-direction: row;
}
.jumpButton {
    color: white;
    font-size: 20px;
    background-color: transparent;
    border-width: 0px;
    float: right;
    flex:1;

}
.jumpButton:hover {
    cursor: pointer;
}