.ToolBox {
    background-color: #282c34;
    width: 100%;

}
h1 {
    padding-left: 2.5%;
    color: azure;
    border-bottom-width: thin;
    margin-bottom: 10px;
}
table {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%;
    width: 100%;
}
td {
    width: 15%;
}

