.toolContainer {
    height:fit-content;
    margin-left: 5%;
    margin-right: 5%;
    align-content: center;
    text-align: center;
    margin-bottom: 10px;
}
.toolName {
    text-align: center;
    color: azure;
    width: 100%;
}
.toolImage{
    height: 60px;
    align-self: center;
    border-bottom-width: 5px;
}